In [1]:
import pandas as pd
import numpy as np
from ExperimentSetting import *

In [2]:

branch_probability_thresholds=[np.inf]
filter_approaches=['probability']
df_names=['breast cancer','iris','winery']
#df_names=['iris']
#number_of_estimators_list=[200,100,50,10]
number_of_estimators_list=[2,3]
fixed_params={}
num_of_iterations=5
experimentSetting1=ExperimentSetting(branch_probability_thresholds,df_names,
                                     number_of_estimators_list,fixed_params,num_of_iterations,filter_approaches)

In [ ]:
experimentSetting1.run()

{'number_of_estimators': 2, 'max_number_of_branches': inf, 'df_name': 'breast cancer', 'filter_approach': 'probability'}
0
number of branches before filterring: 236
number of branches after filterring: 236
i=0
1
number of branches before filterring: 256
number of branches after filterring: 256
i=0
2
number of branches before filterring: 398
number of branches after filterring: 398
i=0
3
number of branches before filterring: 236
number of branches after filterring: 236
i=0
4
number of branches before filterring: 322
number of branches after filterring: 322
i=0
{'number_of_estimators': 3, 'max_number_of_branches': inf, 'df_name': 'breast cancer', 'filter_approach': 'probability'}
0
number of branches before filterring: 213
number of branches after filterring: 213
i=0
number of branches before filterring: 1287
number of branches after filterring: 1287
i=1
1
number of branches before filterring: 210
number of branches after filterring: 210
i=0
number of branches before filterring: 1237
number of branches after filterring: 1237
i=1

In [6]:
df.columns

Index(['conjunction set training time', 'decision tree training time',
       'decision_tree_accuracy', 'decision_tree_auc',
       'decision_tree_average_depth', 'decision_tree_max_depth',
       'decision_tree_min_depth', 'df_name', 'ensemble max_depth',
       'ensemble_accuracy', 'ensemble_auc', 'ensemble_average_depth',
       'ensemble_min_depth', 'filter_approach', 'iteration',
       'max_number_of_branches', 'new model training time',
       'new_model_accuracy', 'new_model_auc', 'new_model_average_depth',
       'new_model_max_depth', 'new_model_min_depth',
       'number of branches per iteration', 'number_of_branches',
       'number_of_estimators', 'random forest training time',
       'sklearn_vs_our_ensemble_predictions_disagreements'],
      dtype='object')

In [18]:
df=pd.DataFrame(experimentSetting1.experiments)
groups=['df_name','number_of_estimators']
df[[col for col in df.columns if 'accuracy' in col]+groups].groupby(groups).mean()

                                    decision_tree_accuracy  ensemble_accuracy  \
df_name       number_of_estimators
breast cancer 2                                   0.944228           0.930732
              3                                   0.945528           0.955285
iris          2                                   0.941481           0.928889
              3                                   0.940000           0.948148
winery        2                                   0.900000           0.866049
              3                                   0.903086           0.933951

                                    new_model_accuracy
df_name       number_of_estimators
breast cancer 2                               0.930732
              3                               0.955285
iris          2                               0.929630
              3                               0.948889
winery        2                               0.866667
              3                               0.933951

In [13]:
df[(df['df_name']=='winery') & (df['number_of_estimators']==3)][['new_model_accuracy','ensemble_accuracy']]

    new_model_accuracy  ensemble_accuracy
50            0.888889           0.888889
51            1.000000           1.000000
52            0.925926           0.925926
53            0.962963           0.962963
54            0.888889           0.907407
55            0.944444           0.944444
56            0.962963           0.962963
57            0.925926           0.925926
58            0.870370           0.870370
59            0.925926           0.925926

In [15]:
df[df['sklearn_vs_our_ensemble_predictions_disagreements']==1]

,conjunction set training time,decision tree training time,decision_tree_accuracy,decision_tree_auc,decision_tree_average_depth,decision_tree_max_depth,decision_tree_min_depth,df_name,ensemble max_depth,ensemble_accuracy,...,new_model_accuracy,new_model_auc,new_model_average_depth,new_model_max_depth,new_model_min_depth,number of branches per iteration,number_of_branches,number_of_estimators,random forest training time,sklearn_vs_our_ensemble_predictions_disagreements
54,36026,186612,0.944444,0.989026,2.648148,3,2,winery,12,0.907407,...,0.888889,0.980453,9.574074,12,7,"[88, 367]",367,3,5485,1

In [19]:
df=pd.DataFrame(experimentSetting1.experiments)
df[[col for col in df.columns if 'auc' in col]+groups].groupby(groups).mean()

                                    decision_tree_auc  ensemble_auc  \
df_name       number_of_estimators
breast cancer 2                              0.963846      0.971229
              3                              0.964949      0.978484
iris          2                              0.965181      0.968021
              3                              0.970942      0.976601
winery        2                              0.934282      0.965658
              3                              0.933971      0.984134

                                    new_model_auc
df_name       number_of_estimators
breast cancer 2                          0.971140
              3                          0.978587
iris          2                          0.968074
              3                          0.976626
winery        2                          0.965929
              3                          0.984136

In [ ]:
df=pd.DataFrame(experimentSetting1.experiments)
df[[col for col in df.columns if 'time' in col]+groups].groupby(groups).mean()

In [20]:
df=pd.DataFrame(experimentSetting1.experiments)
df[[col for col in df.columns if 'average_depth' in col]+groups].groupby(groups).mean()

                                    decision_tree_average_depth  \
df_name       number_of_estimators
breast cancer 2                                        3.357724
              3                                        3.363415
iris          2                                        2.280000
              3                                        2.245185
winery        2                                        2.777778
              3                                        2.805556

                                    ensemble_average_depth  \
df_name       number_of_estimators
breast cancer 2                                   8.359512
              3                                  12.440325
iris          2                                   5.044444
              3                                   7.436296
winery        2                                   6.218519
              3                                   9.506790

                                    new_model_average_depth
df_name       number_of_estimators
breast cancer 2                                    8.219512
              3                                   10.229919
iris          2                                    5.169630
              3                                    6.353333
winery        2                                    6.854938
              3                                    9.562346

In [ ]:
df.to_csv('experimetn_29_4_18.csv')